{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="{% static 'base.js' %}"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.js"
      integrity="sha256-kRbW+SRRXPogeps8ZQcw2PooWEDPIjVQmN1ocWVQHRY="
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{% static 'base.css' %}" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300i,400,500,600i&display=swap"
      rel="stylesheet"
    />

    {% block head %}
    <title>BASE</title>
    {% endblock %}
  </head>
  <body
    class="base-body"
    style="background: url({% static 'imgs/Rectangle.svg' %}); background-size: 210vh ; background-repeat: no-repeat;"
  >
    <div class="base-container">
      <img src="{% static 'imgs/Tree.svg' %}" alt="Logo" class="base-logo" />
      <nav>
        <div class="base-navigation">
          <ul class="base-ul">
            <li class="base-li">
              <a href="{% url 'landing-index' %}" class="base-a base-home"
                >Home</a
              >
            </li>
            <li class="base-li">
              <a href="{% url 'about-index' %}" class="base-a base-about"
                >About</a
              >
            </li>
            <li class="base-li">
              <a href="{% url 'join-index' %}" class="base-a base-join">Join</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    {% block content %}
    <h1>CREATE A CONTENT BLOCK</h1>
    {% endblock %}
  </body>
</html>
