{% extends 'base.htm' %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% block head %}
    <title>Join</title>
    <link rel="stylesheet" href="{% static 'join/style.css' %}" />
    {% endblock %}
  </head>
  <body>
    {% block content %}
    <div class="container"></div>
    <script src="{% static 'join/app.js' %}"></script>
    {% endblock %}
  </body>
</html>
